section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
                  </br>  
         <img src="/images/about.jpg",alt="monster shooter" > 

section(class="main-content")
  h3 Maravilloso Mundo de Android
  p Somos un WebSite especializado en el mundo de Android, abarcamos desde lo mas esencial para su aprendizaje y comprension hasta lo mas innovador y especializado para que nuestros visitantes y seguidores comprendan cada vez mas el inmenso honor que nos proporciona esta hermosa plataforma de android ya sea que tu eres un programador y desarollador o tambien puedes ser un usuario que le fascina los juegos y se deja impresionar por las aplicaciones mas asombrosas que se han creado.
  h3 Basta de tantas palabras y entra y conocenos. Vamos A la Carga... 
        br  
    a(class="btn btn-large btn-success", href="/") Ver Juegos
     

   
   
  


