section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
                  </br>  
    
         <img src="/images/apps2.jpg",alt="monster shooter" > 
         


section(class="main-content")
  h3 Descarga este magnifico juego....Aqui su descripcion
  p La continuación del exitoso título Temple Run, del que ya os hablamos aquí, así como de su spin-off basado en la película Brave de Disney, ya está disponible en Google Play para que los más deseosos de saciar sus horas de vicio se hagan con él.
  p En la parte jugable el juego mantiene las mismas bases que su entrega anterior, con un control idéntico y una jugabilidad calcada, aunque añade numerosos extras y pruebas in-game de lo más variopinto para hacer la experiencia lo más atractiva y variada posible.
  p Gráficamente es donde notamos el mayor salto cualitativo de este nuevo título, que además de multitud de elementos nuevos y efectos en pantalla, nos alegra la vista con una trabajada iluminación y un 3D muy bueno que sin duda será del agrado de quienes decidan darle una oportunidad. Hay que decir que en esta ocasión la paleta de colores es de una mayor vivacidad y colorido que en la entrega anterior, que podía pecar de ser algo monótona para según qué paladares videojueguiles.
     <br>

   <img src="/images/tr21.jpg",alt="monster shooter" align="center" >  \\  <img src="/images/tr22.jpg",alt="monster shooter" align="center" > <img src="/images/tr23.jpg",alt="monster shooter" align="center" >

  P Si la primera entrega ya era divertida y adictiva a partes iguales, este nuevo Temple Run 2 agrega un plus de carisma y variedad que hará que volvamos a pasarnos horas y horas frente a nuestro dispositivo con su adicción inmediata y su rejugabilidad infinita.
  P Por si alguien lo dudaba, esta nueva entrega también está disponible de forma totalmente gratuita en Google Play, con la posibilidad de realizar micro-pagos a través de la propia aplicación para conseguir algunos extras.
    

   
  



