
section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
          h1=title 
        
         
section(class="main-content")
  h3 Te Sugerimos que veas los temas del dia    :
  ol(class="round")
      li(class="one")
          h5 <a href="/MonsterShooter" target="_blank">Monster Shooter, Pura diversion en la palma de tu mano... "Entrar" </a>
          p
           <img src="/images/monsterShooter.jpg",alt="monster shooter">
      li(class="two")
          
        h5 <a href="templerun2" target="_blank">Temple Run 2 ya disponible en Google Play</a>
          p
           <img src="/images/tr1.jpg",alt="temple run2">



      li(class="three")
          h5 <a href="/major" target="_blank">Major Mayhem, salva al amor de tu vida disparando sin cesar..."Entrar" </a> 
        
           
          p

           <img src="/images/mm.jpg",alt="monster shooter">
 