section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
                  </br>  
    
         <img src="/images/intereses.jpg",alt="monster shooter" > 
         


section(class="main-content")
  h3 Impresionantes características de Android que el iPhone no tiene
  p Nos encanta tanto Android y iOS, pero la naturaleza abierta de Android sólo significa que puede hacer cosas que otros no pueden. Aquí están nuestros favoritos apps Android y características que no encontrará en sus vestidos de Apple hermanos.
  
  p No guardes nada en esta lista: enraizamiento, jailbreak, editar archivos del sistema están todo el juego justo. Si hubiera alguna manera de hacerlo en el iPhone, lo dejamos fuera. Así, mientras que hay un montón de cosas buenas sobre Android que no salen de la caja en el iPhone-like libre paso a paso para la navegación o derribar las notificaciones, todavía hay maneras de conseguir esas características en el iPhone . Así que aquí está nuestra lista de las diez características que usted no puede obtener, de ninguna manera, ni cómo, en un dispositivo con jailbreak o no jailbreak.
    <br>
  h4 Automatizacion: 
          br
     <img src="/images/automatizacion.png",alt="monster shooter" align="center" >
 
  p Una de las más poderosas y útiles aplicaciones Android de todo es Tasker, el programa de automatización que te permite convertir tu teléfono en un superteléfono . Puede activar y desactivar los ajustes para ciertas aplicaciones, por ubicación, hora del día, y casi cualquier otra condición que se pueda imaginar. Con los comandos adecuados en el lugar, Tasker puede acceder a los ajustes más profundos y oscuros en el teléfono, que es algo que no se puede hacer en otras plataformas. Asegúrese también de comprobar hacia fuera nuestra segunda lista de configuraciones de Tasker , tres perfiles de Tasker mano de nuestros lectores y la forma de rodar su propio "Find my iPhone" para Android . Aplicaciones similares, como el de ahorro de batería JuiceDefender también entran en esta categoría.
  
    h4 Custom Home Launchers: 
          br
     <img src="/images/customhome.png",alt="monster shooter" align="center" >
 
  p Mientras que los usuarios de iPhone pueden personalizar su pantalla de inicio un poco si han liberado, no se permite el tipo de personalización que se puede obtener en Android con lanzadores caseros de encargo. Lanzadores de terceros pueden agregar todo tipo de características adicionales a las pantallas de inicio de su dispositivo, como gestos, diferentes tipos de shortucts, e incluso de bajo nivel configuraciones que pueden ayudar a acelerar un teléfono más viejo . Ya sea que usted está utilizando la super-rápido LauncherPro o el increíblemente personalizable ADWLauncher , de terceros lanzadores añadir una tonelada de configuración para su dispositivo.

   h4 Widgets: 
          br
     <img src="/images/widget.png",alt="monster shooter" align="center" >
 
  p Claro, que ocupan un poco de espacio, pero no hay sustituto para la comodidad de tener un widget del tiempo grande a la derecha en la pantalla principal, o un widget de música que le muestre la pista que se está reproduciendo. Aún más útil es el de tareas widgets de listas, que tienen un "in your face" enfoque a la productividad, lo que no sólo es eficaz, pero necesaria de la gente, ya que no requieren que usted realmente mira por tu lista de tareas- siempre están recordando de lo que hay que hacer. Si tienes jailbreak, puedes conseguir widgets como aplicaciones para el iPhone , pero sólo se puede poner en su pantalla de bloqueo no-las pantallas de inicio real que siempre estás deslizando a través.

   h4 Medios de almacenamiento extraíbles y batería: 
          br
     <img src="/images/sd.jpg",alt="monster shooter" align="center" >
 
  p No es parte del software de Android, necesariamente, pero la naturaleza abierta de Android permite que un buen número de ventajas hardware demasiado pocos a saber, la capacidad de sacar, cambiar y actualizar su batería y tarjeta SD. Si usted encuentra que usted ha llegado al máximo de almacenamiento en tu iPhone, que está bastante fuera de suerte, mientras que con un teléfono Android que puede hacer estallar en una nueva tarjeta SD y tienen más capacidad de almacenamiento gigabytes para jugar. Del mismo modo, se puede cambiar una batería de repuesto para los viajes más largos o incluso obtener una batería de larga duración que va a ayudar a su teléfono sin ir más tiempo de carga. Foto por Hiroyuki Takeda .
  

   h4 Wireless App Installation: 
          br
     <img src="/images/wa.jpg",alt="monster shooter" align="center" >
 
  p Para buscar y descubrir nuevas aplicaciones debe ser divertido, no desafiar a hacerlo a través de una pequeña tienda de aplicaciones con su cordura intacta. La App Store y Cydia App Store no es precisamente divertido para navegar en el teléfono, pero tampoco tienen que descargar aplicaciones en su teléfono o conectarlo a iTunes para sincronizarlos todos lados. Con el nuevo Android Market , o con sitios de terceros como AppBrain , usted puede encontrar una aplicación de frío, pulsa el botón de instalación, y va a estar en su teléfono la próxima vez que lo recoja. No se puede pedir mucho más conveniente que eso.
