section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
                  </br>  
                  </br>
    
         <img src="/images/mm.jpg",alt="monster shooter" > 
         


section(class="main-content")
  h3 Descarga este magnifico juego....Aqui su descripcion
  p Corre, salta y dispara. Esa es la base de Major Mayhem, un juego de disparos. A diferencia de juegos como N.O.V.A. o Modern Combat, aquí solo tendremos que preocuparnos de disparar y saltar. Los escenarios, ambientados en diferentes entornos, se recorrerán mediante un “scroll 2D” (la pantalla irá avanzando de izquierda a derecha a medida que matemos a todos los enemigos), aunque son gráficos 3D con un toque de dibujos animados.


            </br>

   <img src="/images/m2.jpg",alt="monster shooter" align="center" >  \\  <img src="/images/m3.jpg",alt="monster shooter" align="center" > 

  p Durante 45 niveles estaremos controlando la puntería de “Major Mayhem”, el protagonista del juego, que deberá luchar contra ninjas, agentes especiales, terroristas, tanques, aviones… Y a la vez tendrá que salvar a los rehenes, que premiarán a nuestro héroe con poderosos objetos o armadura (recuerda mucho a los rehenes en el Metal Slug). Además, disponemos de 4 modos diferentes para prolongar las horas de juego que nos brinda esta aplicación. También tenemos una tienda para comprar todo tipo de armas que nos facilitarán la vida.
            br
   <img src="/images/m4.jpg",alt="monster shooter" align="center" >   || <img src="/images/m2.jpg",alt="monster shooter" align="center" >    

