section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
                  </br>  
    
         <img src="/images/monsterShooter.jpg",alt="monster shooter" > 
         


section(class="main-content")
  h3 Descarga este magnifico juego....Aqui su descripcion
  p Este juego no es 3D sino un aspecto animado, dinámico (gracioso), cuya aventura es salvar a nuestra mascota del secuestro de los extraterrestres, para ello deberemos recorrer cada planeta (que irán actualizando poco a poco) pero no estaremos solo ya que nos dotarán de armas que iremos actualizando con el dinero de cada misión.
  p Como hemos dicho anteriormente no es un juego 3D sino 2D con una animación dibujada a mano veremos una gran variedad de enemigos, armas y efectos que hacen que se convierta en un juego muy atractivo. El rendimiento del juego es bastante bueno pero no necesitamos disponer de un móvil de cuatro núcleos, ya que he jugado hace poco en un Galaxy S por lo que teléfonos con el mismo hardware podrán jugar.
  p  La utilización de jugar es la de utilizar dos joysticks para mover y disparar de modo circular, pero no te preocupes es muy fácil de asimilar. Se nos olvidaba mencionar que cuando terminemos el modo Historia del juego hay un extra en las misiones, la cuál deberemos enfrentarnos a miles de monstruos a la vez, estos son diferentes entre ellos con diferentes armas, ten cuidado. El juego es totalmente gratuito, y lo podrás descargar en Google Play.
 
            </br>

   <img src="/images/monstergp.jpg",alt="monster shooter" align="center" > 
         

