section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
                  </br>  
    
         <img src="/images/apps1.png",alt="monster shooter" > 
         


section(class="main-content")
  h3 Ya disponible la actualización de Google Now con la que podemos añadir widgets
  p Ya lo veníamos avisando: Google Now se está expandiendo a todo el sistema Android, y al mismo tiempo que cada vez mas dispositivos son compatibles con la nueva filosofía de búsqueda de Google, también esta se va evolucionando con el tiempo. En esta ocasión, con la inclusión de un widget  y otras pequeñas mejoras.

  p Desde hace unos minutos aquellos usuarios con una versión de Android compatible pueden actualizar la app oficial de búsqueda de Google, la cual incluye el esperado widget. Tal y como sospechábamos, el widget en cuestión se encarga de mostrar distintas tarjetas que usemos en la propia app, sin necesidad de abrirla para consultarlas. Esta es una de esas ocasiones en las que un aditivo tan simple como ese puede mejorar mucho el uso de Google Now.

  p No es la única novedad, ya que las tarjetas relativas al cine se mejoran con información de las webs Fandango y Rotten Tomatoes, además de información de casas en venta sacada de la web de Zillow. Los usuarios norteamericanos nos llevan algo de ventaja, ya que podrán controlar Music cuando esté sonando una canción en modo voz.
            </br>

   <img src="/images/novedad1.jpg",alt="monster shooter" align="center" > 
         

